

<nav>
    <a routerLink="/infromation-popup" routerLinkActive="active" >infromationPopup</a>
    <a routerLink="/student-list" routerLinkActive="active" >studentList</a>
    <a routerLink="/student-detailes" routerLinkActive="active" >studentDetails</a>
    <a routerLink="/template-driven-forms" routerLinkActive="active" >templateDrivenForms</a>
    <a routerLink="/class-reactive-form" routerLinkActive="active" >class-reactive-form</a>
    <a routerLink="/courses-list" routerLinkActive="active" >courses-list</a>
    <a routerLink="/connect-api" routerLinkActive="active" >connect-api</a>

</nav>

<router-outlet></router-outlet>



<p>{{goodWord()}}</p>

<!-- <app-student-list>
</app-student-list>
<app-template-driven-forms></app-template-driven-forms>

{{'tired'|icon}}
{{'love'|icon}}
{{'ring'|icon}}
{{'happy'|icon}} -->

<!-- <app-courses></app-courses> -->